*{margin: 0px;padding: 0px;}
#main{
	width: 680px;
	margin: auto;
}
h2{text-align: center;margin-top: 22px;}
.content{
	width: 500px;
	height: 281px;
	margin: 20px auto;
	border: 2px solid aliceblue;
	background-image: url(../emailBg/emailBg2.gif);
	box-shadow: darkgrey 10px 10px 30px 10px;
	border-radius: 20px;
}
.fq{
	width: 280px;
	height: 150px;
	background: rgba(224,234,178,0.6);
	margin: 65px auto;
	border-radius: 20px;
}
.fq2{
	width: 60%;
	height: 90%;
	margin: auto;
	padding: 8px;
}
.fq2 a:hover{
	font-size: 18px;
	background-color: yellowgreen;
}
.text{
	width: 680px;
	height: 10%;
	}
p{text-indent:2em}

.audio-wrapper {
    background-color: #fcfcfc;
    margin: 10px auto;
    max-width: 670px;
    height: 70px;
    border: 1px solid #e0e0e0;
    color: #3e3e3e;
	border-radius: 20px;
}

.audio-left {
    float: left;
    text-align: center;
    width: 18%;
    height: 100%;
}

.audio-left img {
    width: 40px;
    position: relative;
    top: 15px;
    margin: 0;
    display: initial;   /* 解除与app的样式冲突 */
    cursor: pointer;
}

.audio-right {
    margin-right: 2%;
    float: right;
    width: 80%;
    height: 100%;
}

.audio-right p {
    font-size: 15px;
    height: 35%;
    margin: 12px 0 2px 0;

    /* 歌曲名称只显示在一行，超出部分显示为省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 243px;   /* 要适配小屏幕手机，所以最大宽度先设小一点，后面js根据屏幕大小重新设置 */
}

.progress-bar-bg {
    background-color: #d9d9d9;
    position: relative;
    height: 2px;
    cursor: pointer;
}

.progress-bar {
    background-color: #649fec;
    width: 0;
    height: 2px;
}

.progress-bar-bg span {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #3e87e8;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    cursor: pointer;
}

.audio-time {
    overflow: hidden;
    margin-top: 1px;
}

.audio-length-total {
    float: right;
    font-size: 12px;
}

.audio-length-current {
    float: left;
    font-size: 12px;
}