<!-- 模板二：加了gif动态背景图片，若收件方是QQ邮箱，最好也使用QQ邮箱来发送，不然图片可能不被显示。 -->
<style type="text/css">
	*{margin: 0px;padding: 0px;}/*清除浏览器自带格式*/
	#main{
		width: 600px;
		height: 336px;
		margin: 50px auto;
		border-radius: 20px;
		background-image: url(https://myzhenyan.github.io/kanzx/emailBg/emailBg1.gif);
		background-size:100% 100%;/*背景填满*/
		background-size: cover;/*背景不重复*/
		border: 1px solid #9d9d9d;
		box-shadow: #a5e8b2 10px 10px 30px 10px;
	}
	#text{
		width: 65%;
		height: 75%;
		text-indent:2em;
		margin: auto;
		border-radius: 20px;
		position: relative;
		top: 20px;
		background: rgba(255, 255, 255, 0.5);/*半透明背景*/
	}
	.p{padding: 0px 5px 0px 10px;}/*p标签内边距（上/右/下/左）*/
	#text a:hover{font-size: 18px;color: green;}
	#music{
		height: 30px;
		float: right;/*右浮动*/
		position: relative;
		top: 35px;
		right: 20px;
	}
	audio{
		width: 150px;
		height: 20px;
		border-radius: 15px;
	}
</style>
<div id="main">
	<div id="text">
		<div class="p"><b>Hi.朋友：您好！</b></div>
		<div class="p">大千世界，茫茫人海，您知道吗？能看到这封信，您是多么幸运啊！有句话说：危险并不可怕，可怕的是，当巨大的险情来临时却不知道，这才是最让人痛惜的。衷心祝愿您与家人都有一个美好的未来，希望您能全家幸福平安，远离危险！</div>
		<div class="p">您听说过三退保平安吗？这是个自救的天机，是对自己未来的选择，不妨在此了解一下。</div>
		<div class="p">机缘难得，千万不要错过>>><a href="https://myzhenyan.github.io/kanzx" target="_blank"><b>前往了解三退</b></a></div><hr >
		<div class="p">打开天窗，看一看外面的世界>>><a href="https://myzhenyan.github.io/kanzx/fq" target="_blank"><b>翻墙工具</b></a></div>
	</div>
	<div id="music">
		<audio src="https://myzhenyan.github.io/kanzx/music/%E8%8D%B7%E5%A1%98%E6%B8%85%E9%9F%B3.mp3" controls="controls" autoplay=""><!--音乐自动播放-->
			当前浏览器不支持audio
		</audio>
	</div>
</div>