<!-- 模板5-2 加了一点修饰的彩虹模板 -->
<style type="text/css">
	*{margin: 0px;padding: 0px;}
	.main{
		width: 680px;
		height: 680px;
		margin: 0px auto;
		border-radius: 100%;
		background: radial-gradient(#ffffff 222px,#ff6633 242px,#ffff00 262px,green 282px,#008aff 302px,purple 322px);
		background: -moz-radial-gradient(#ffffff 222px,#ff6633 242px,#ffff00 262px,green 282px,#008aff 302px,purple 322px);
		background: -webkit-radial-gradient(#ffffff 222px,#ff6633 242px,#ffff00 262px,green 282px,#008aff 302px,purple 322px);
	}
	.mainRainbow{
		width: 130px;
		height: 65px;
		overflow: hidden;
		margin: auto;
		position: relative;
		top: 130px;
	}
	.smallRainbow{
		width: 130px;
		height: 130px;
		border-radius: 100%;
		background: radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
		background: -moz-radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
		background: -webkit-radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
	}
	.text{
		width: 350px;
		height: 270px;
		margin: auto;
		padding: 5px;
		text-indent:2em;
	}
	.text_bg{
		width: 355px;
		height: 280px;
		margin: auto;
		border-radius: 50px;
		background-color: rgba(202,244,244,0.5);
		position: relative;
		top: 130px;
	}
	.t1{
		font-size: 20px;
		font-weight: bold;
	}
	.text a:hover{font-size: 14px;background-color: greenyellow;}
	.music{
		text-align: center;
		position: relative;
		top: 10px;
	}
	audio{height: 20px;border-radius: 15px;}
}
</style>
<div class="main">
	<div class="mainRainbow"><div class="smallRainbow"></div></div>
	<div class="text_bg">
		<div class="text">
			<div class="t1">Hi.朋友您好！</div>
			<div>大千世界，茫茫人海，您知道吗？能看到这封信，真是太幸运了啊！</div>
			<div>有句话说：危险并不可怕，可怕的是，当巨大的险情来临时却不知道，这才是最让人痛惜的。</div>
			<div>衷心祝愿您与家人都有一个美好的未来，希望您能全家幸福平安，远离危险！</div>
			<div>您听说过三退保平安吗？这是个自救的天机是对自己未来的选择，不妨在此了解一下吧！</div>
			<div>机缘难得，千万不要错过>>><a href="https://myzhenyan.github.io/kanzx" target="_blank"><b>前往了解三退</b></a></div>
			<div>打开天窗，看一看外面的世界>>><a href="https://myzhenyan.github.io/kanzx/fq" target="_blank"><b>翻墙工具</b></a></div>
		</div>
		<div class="music">
			<audio src="https://myzhenyan.github.io/kanzx/music/%E9%98%B3%E5%85%89%E4%B8%8B%E9%81%87%E8%A7%81%E4%BD%A0%EF%BC%88%E4%BC%B4%E5%A5%8F%EF%BC%89.mp3" controls="controls" autoplay="">
				当前浏览器不支持audio
			</audio>
		</div>
	</div>
</div>