<!-- 模板四 163邮箱的源码功能问题，样式会有一点小错位 -->
<style type="text/css">
	*{margin: 0px;padding: 0px;}
	.main{
		width: 600px;
		height: 600px;
		margin: 0px auto;
		border-radius: 20px;
		background-image: url(https://myzhenyan.github.io/kanzx/emailBg/emailBg3.jpg);
		box-shadow: darkgrey 10px 10px 30px 10px;
		font-family: "KaiTi";
	}
	.text_bg{
		width: 600px;
		height: 600px;
		margin: 0px auto;
		border-radius: 20px;
		background-color: rgba(255,255,255,0.6);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.bg_img{text-align: center;}
	.bg_img img{
		width: 230px;
		height: 230px;
		border-radius: 50%;
	}
	.bg_img img:hover{
		transform: rotate(360deg);
		transition: 2s;
	}
	.hi{
		font-size: 24px;
		font-weight: bold;
		position: relative;
		left: 50px;
		bottom: 40px;
	}
	.hi:hover{color: orange;}
	.text{
		width: 530px;
		height: 360px;
		margin: 0px auto;
		padding: 0px;
		font-size: 18px;
		position: relative;
		bottom: 30px;
		overflow-x:hidden;
		overflow-y:auto;
	}
	.text span{padding: 10px;}
	.text span:hover{color: orangered;}
	.text a:hover{font-size: 24px;background-color: greenyellow;}
</style>
<div class="main">
	<div class="text_bg">
		<div class="bg_img">
			<img  src="https://myzhenyan.github.io/kanzx/emailBg/emailBg3.jpg" >
		</div>
		<span class="hi">Hi.朋友您好！</span>
		<div class="text">
			<span>大千世界，茫茫人海，您能看到这封信，真是有缘啊！</span><hr >
			<span><b>您看过关于“预言”的书吗？</b></span><hr >
			<span>中国被称为神州，中国文化有“神传文化”之称，这在全世界</span><hr >
			<span>是独一无二的。预言是神传文化的重要组成部分，中国许多朝</span><hr >
			<span>代都留下了传世预言，对历史有着惊人的准确预测。比较著名</span><hr >
			<span>的预言包括：周朝的《乾坤万年歌》汉代诸葛亮的《马前课》</span><hr >
			<span>唐代李淳风的《推背图》宋代邵雍的《梅花诗》明代刘伯温的</span><hr >
			<span>《烧饼歌》等。在外国比较著名的预言有：圣经《启示录》，</span><hr >
			<span>法国诺查丹玛斯留下的《诸世纪》，韩国的《格庵遗录》等。</span><hr >
			<span>众多的预言，出自不同的文化和地区，跨越不同的时代，却都</span><hr >
			<span>预言了中国的朝代更迭，及人类此时将有大劫之忧，预言了即</span><hr >
			<span>将在中国发生的一件惊天动地的大事。</span><hr >
			<span>什么大事如此惊天动地呢？不妨在此看一看>>><a href="https://myzhenyan.github.io/kanzx" target="_blank"><b>前往看看</b></a></span><hr >
			<span>打开天窗，看一看外面的世界>>><a href="https://myzhenyan.github.io/kanzx/fq" target="_blank"><b>翻墙工具</b></a></span><hr >
		</div>
	</div>
</div>
