<!-- 可根據注釋自己修改 -->
<style type="text/css">
	*{margin: 0px;padding: 0px;}
	/*盒子的主体*/
	.main{
		width: 470px;/*盒子的长度*/
		height: 420px;/*盒子的高度*/
		margin: 0px auto;/*盒子居中*/
		border: solid 1px;/*盒子边框*/
		border-radius: 20px;/*盒子的弧度*/
		background-color: bisque;/*盒子的背景色*/
		box-shadow: darkgrey 10px 10px 30px 10px;/*边框阴影*/
	}
	
	/*彩虹修饰*/
	.rainbow{
		width: 130px;
		height: 65px;
		overflow: hidden;
		margin: auto;
		position: relative;
		top: 10px;
	}
	.smallRainbow{
		width: 130px;
		height: 130px;
		border-radius: 100%;
		background: radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
		background: -moz-radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
		background: -webkit-radial-gradient(#ffffff 10px,#ff6633 20px,#ffff00 30px,green 40px,#008aff 50px,purple 60px);
	}
	/*end彩虹修饰*/
	
	/*盒子里放置文字的层*/
	.text{
		width: 400px;/*宽度*/
		height: 270px;
		margin: 10px auto;/*顶部间隔2px并居中*/
		background-color: rgba(255,255,255,0.5);
		border-radius: 20px;/*盒子的弧度*/
		text-indent:2em;
		padding: 2px 5px 0px 10px;
		overflow-y:auto;
	}
	.text h3{margin-top: 15px;}
	.text a:hover{/*文字层a标签伪类，鼠标移动到a标签的文字会放大且背景颜色变为绿色*/
		font-size: 18px;/*字体大小*/
		background-color: greenyellow;/*背景颜色greenyellow(绿色黄)*/
	}
	li{
		list-style: none;
	}
	/*盒子里放音乐的层*/
	.music{
		margin: 0px auto;/*居中*/
		width: 320px;/*宽度*/
		text-align: center;/*内容居中*/
		position: relative;/*相对定位*/
		top: 5px;/*相对于顶部的距离*/
	}
	audio{border-radius: 15px;height: 30px;}
</style>
<div class="main">
	<div class="rainbow"><div class="smallRainbow"></div></div>
	<div class="text">
		<!-- 在这里面添加自己的内容，每个div是一段，可随意修改，修改后用浏览器打开看一下效果 -->
		<h3>Hi.朋友您好！</h3>
		<div>大千世界，茫茫人海，您知道吗？能看到这封信，真是太幸运了啊！</div>
		<div>有句话说：危险并不可怕，可怕的是，当巨大的险情来临时却不知道，这才是最让人痛惜的。</div>
		<div>衷心祝愿您与家人都有一个美好的未来，希望您能全家幸福平安，远离危险！</div>
		<div>您听说过三退保平安吗？这是个自救的天机是对自己未来的选择，不妨在此了解一下吧！</div>
		<div>机缘难得，千万不要错过&gt;&gt;<a href="https://myzhenyan.github.io/kanzx" target="_blank"><b>前往了解三退</b></a></div>
		<div>打开天窗，看一看外面的世界&gt;&gt;<a href="https://myzhenyan.github.io/kanzx/fq" target="_blank"><b>翻墙工具</b></a></div>
	</div>
	<div class="music">
		<audio src="https://myzhenyan.github.io/kanzx/music/%E9%98%B3%E5%85%89%E4%B8%8B%E9%81%87%E8%A7%81%E4%BD%A0%EF%BC%88%E4%BC%B4%E5%A5%8F%EF%BC%89.mp3" controls="controls" autoplay="">
			当前浏览器不支持audio
		</audio>
	</div>
</div>
