*{margin: 0px;padding: 0px;}
input{padding: 5px;}
select{padding: 5px;}
.main{width: 750px;margin: 20px auto;position: relative;}
.optemail{position: absolute;left: 400px;}
.sendmail_main{width: 600px;float: left;}
.sendmail_main p{margin-top: 5px;}
.sendemail{width: 300px;margin-top: 10px;border-bottom: 1px solid;}
.passinput{margin-left: 46px;}
.getemail{margin-top: 10px;}
.getemailinput textarea{width: 400px;height: 25px;}
.getemail a{
	cursor: pointer;
	margin-left:3px;
	border: 1px solid;
	border-radius: 6px;
	background-color: rgba(225, 225, 225, 0.8);
}
.getemail a:hover{background-color: skyblue;}
.titleinput input{width: 400px;}
.centents textarea{width: 600px;height: 280px;}
.submitBtn{
	position: relative;
	top: 5px;
	background-color: orange;
	border-radius: 9px;
	font-size: 18px;
	cursor: pointer;
}
.submitBtn:hover{background-color: skyblue;}
#yulan_iframe{
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}
.yulan_ifr{width: 100%;height: 100%;}

.lists{
	width: 140px;
	height: 585px;
	border: 1px solid yellowgreen;
	border-radius: 9px;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
}
.modtitle{text-align: center;border-bottom: 1px solid;font-size: 18px;}
.lists img{width: 130px;}
.lists img:hover{width: 120px;}